/* Paleta de cores:

    Escolhidas pelo professor:
    #1B2727
    #3C5138
    #6B8E4E
    #B2C5B2
    #D5DDDF

    Complementares:
    #CACDA5
    #99A285
    #4E4F3D
    #636851
    #A3A277
    #A0B179

    #606F49
    #728359
    #849669
    #97A97C
    #A6B98B
    #B5C99A
    #C2D5AA
    #CFE1B9
    #DCEBCA
*/






/*~~~~~~~~~~~~~~~~~~~~ Página Inicial ~~~~~~~~~~~~~~~~~~~~*/

/* .parent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 30px;
grid-row-gap: px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }*/


/* Parte responsiva da página inicial */





/* ------------------------------------------------------------------------ */
/*~~~~~~~~~~~~~~~~~~~~ Página dos materiais e projetos ~~~~~~~~~~~~~~~~~~~~*/